#bluetooth firmware file types
type bt_firmware_file, file_type, contextmount_type, vendor_file_type;
# Default type for anything under /firmware.
type firmware_file, file_type, contextmount_type, vendor_file_type;
type vendor_firmware_file, vendor_file_type, file_type;
# used for /dsp files
type adsprpcd_file, file_type, mlstrustedobject, vendor_file_type;

type mpctl_data_file, file_type, data_file_type;
type lm_data_file, file_type, data_file_type;
type sysfs_lib, fs_type, sysfs_type;
type sysfs_mpdecision, fs_type, sysfs_type;
type sysfs_devfreq, fs_type, sysfs_type;
type sysfs_scsi_host, fs_type, sysfs_type;
type sysfs_kgsl, sysfs_type, fs_type;
type sysfs_cpu_boost, fs_type, sysfs_type;
type sysfs_msm_perf, fs_type, sysfs_type;
type sysfs_memory, fs_type, sysfs_type;
type sysfs_graphics, sysfs_type, fs_type;
type sysfs_msm_power, fs_type, sysfs_type;
type sysfs_battery_supply, sysfs_type, fs_type;
type sysfs_process_reclaim, fs_type, sysfs_type;
type sysfs_boot_adsp, sysfs_type, fs_type;
type sysfs_slpi, fs_type, sysfs_type;
