#bluetooth firmware file types
type bt_firmware_file, file_type, contextmount_type, vendor_file_type;
# Default type for anything under /firmware.
type firmware_file, file_type, contextmount_type, vendor_file_type;
type vendor_firmware_file, vendor_file_type, file_type;
# used for /dsp files
type adsprpcd_file, file_type, mlstrustedobject, vendor_file_type;

type persist_file, file_type, vendor_persist_type;
type persist_audio_file, file_type;
type persist_camera_file, file_type;
type persist_data_file, file_type, vendor_persist_type;
type persist_display_file, file_type;
type persist_drm_file, file_type, vendor_persist_type;
type persist_haptics_file, file_type;
type persist_rfs_file, file_type;
type persist_sensors_file, file_type;
type persist_time_file, file_type;
