#bluetooth firmware file types
type bt_firmware_file, file_type, contextmount_type, vendor_file_type;
# Default type for anything under /firmware.
type firmware_file, file_type, contextmount_type, vendor_file_type;
type vendor_firmware_file, vendor_file_type, file_type;
# used for /dsp files
type adsprpcd_file, file_type, mlstrustedobject, vendor_file_type;
type hal_perf_default_exec, exec_type, vendor_file_type, file_type;
