type hal_rcsservice, domain;
type hal_rcsservice_exec, exec_type, vendor_file_type, file_type;
allow hal_rcsservice hal_imsrcsd_hwservice:hwservice_manager { find add };
