type hal_perf_default, domain, mlstrustedsubject;
type hal_perf_default_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_perf_default)
# Allow hwbinder call from hal client to server
binder_call(hal_perf_client, hal_perf_server)
binder_call(hal_perf_default, hwservicemanager)

# Add hwservice related rules
add_hwservice(hal_perf_server, hal_perf_hwservice)
allow hal_perf_client hal_perf_hwservice:hwservice_manager find;

allow hal_perf_default cgroup:file r_file_perms;
allow hal_perf_default proc:file rw_file_perms;
allow hal_perf device_latency:chr_file rw_file_perms;
get_prop(hal_perf, freq_prop)
get_prop(hal_perf, vendor_mpctl_prop)
get_prop(hal_perf_default, vendor_mpctl_prop)
get_prop(hal_perf_default, hwservicemanager_prop)
allow hal_perf_default mpctl_data_file:dir rw_dir_perms;
allow hal_perf_default mpctl_data_file:file create_file_perms;
allow hal_perf_default lm_data_file:dir rw_dir_perms;
allow hal_perf_default lm_data_file:file create_file_perms;
allow hal_perf_default sysfs_lib:file w_file_perms;
r_dir_file(hal_perf_default, appdomain);
allow hal_perf_default {appdomain}:file rw_file_perms;

allow hal_perf {
    sysfs_devices_system_cpu
    sysfs_mpdecision
    sysfs_devfreq
    sysfs_scsi_host
    sysfs_kgsl
    sysfs_cpu_boost
    sysfs_msm_perf
    sysfs_memory
    sysfs_graphics
    sysfs_msm_power
    sysfs_battery_supply
    sysfs_process_reclaim
}:dir r_dir_perms;

allow hal_perf {
    sysfs_devices_system_cpu
    sysfs_mpdecision
    sysfs_kgsl
    sysfs_cpu_boost
    sysfs_msm_perf
    sysfs_memory
    sysfs_graphics
    sysfs_scsi_host
    sysfs_devfreq
    sysfs_msm_power
    sysfs_battery_supply
    sysfs_process_reclaim
}:file rw_file_perms;

allow hal_perf {
    sysfs_devfreq
    sysfs_scsi_host
    sysfs_kgsl
}:lnk_file r_file_perms;

# Allow to self kill capability
allow hal_perf_default self:capability { kill };
