service vendor.bluetooth-1-0.mata /vendor/bin/hw/android.hardware.bluetooth@1.0-service.mata
    class hal
    capabilities BLOCK_SUSPEND NET_ADMIN SYS_NICE
    user bluetooth
    group bluetooth
    writepid /dev/stune/foreground/tasks
